<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Add user</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-form ref="form">
                    <v-layout row wrap>
                        <v-flex class="md2 pr-3">
                            <v-select :items="['Mr.', 'Mrs.']" :rules="[rules.required]" v-model="user.surname" label="Sir name"></v-select>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-text-field append-icon="fa-signature" :rules="[rules.required]" v-model="user.first_name" label="First name"></v-text-field>
                        </v-flex>
                        <v-flex class="md4 pr-3">
                            <v-text-field append-icon="fa-signature" :rules="[rules.required]" v-model="user.middle_name" label="middle name"></v-text-field>
                        </v-flex>
                        <v-flex class="md3">
                            <v-text-field append-icon="fa-signature" :rules="[rules.required]" v-model="user.last_name" label="Last name"></v-text-field>
                        </v-flex>
                        <v-flex class="md2 pr-3">
                            <v-select append-icon="fa-transgender" :rules="[rules.required]" v-model="user.sex" :items="['Male', 'Female']" label="Sex"></v-select>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-text-field append-icon="fa-signature" :rules="[rules.required, rules.email]" type="email" v-model="user.email" label="Email"></v-text-field>
                        </v-flex>
                        <v-flex class="md4 pr-3">
                            <v-text-field append-icon="fa-signature" :rules="[rules.required, rules.minLength]" type="password" v-model="user.password" label="Password"></v-text-field>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-text-field append-icon="fa-flag" :rules="[rules.required]" v-model="user.nationality" label="Nationality"></v-text-field>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-text-field append-icon="fa-map-marked-alt" :rules="[rules.required]" v-model="user.birth_place" label="Birth place"></v-text-field>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-dialog ref="dialog" v-model="date_modal" :return-value.sync="user.birth_date" persistent lazy full-width
                                      width="590px">
                                <v-text-field slot="activator" :rules="[rules.required]" v-model="user.birth_date" label="Birth date" append-icon="fa-calendar"
                                              ></v-text-field>
                                <v-date-picker v-model="user.birth_date" full-width landscape class="mt-3">
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="date_modal = false">Cancel</v-btn>
                                    <v-btn flat color="primary" @click="$refs.dialog.save(user.birth_date)">OK</v-btn>
                                </v-date-picker>
                            </v-dialog>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-select v-model="user.department_id" :rules="[rules.required]" :items="departments" item-value="id" item-text="name" label="Department"></v-select>
                        </v-flex>
                        <v-flex class="md3 pr-3">
                            <v-select :items="roles" :rules="[rules.required]" v-model="user.role_id" item-text="name" item-value="id"  label="Role"></v-select>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="addUser">Add user</v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>


<script>
    import Axios from 'axios'
    import router from '../../router'
    export default {
        data() {
            return {
                departments: [],
                roles: [],
                date_modal: false,
                user: {
                    surname: '',
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    sex: '',
                    email: '',
                    password: '',
                    nationality: '',
                    birth_place: '',
                    birth_date: '',
                    department_id: '',
                    role_id: ''
                },
                rules: {
                    required: value => !!value || 'This field is required.',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                    minLength: value => value.length >= 8 || 'Minimum length is 8 character'
                }
            }
        },
        methods: {
            getDepartments() {
                this.$store.commit('startLoading', "Fetching departments")
                Axios.get('/api/departments')
                    .then(
                        res => {
                            this.departments = res.data
                            this.getRoles()
                        }
                    )
            },
            getRoles() {
                this.$store.commit('startLoading', "Fetching roles")
                Axios.get('/api/roles')
                    .then(
                        res => {
                            this.roles = res.data
                            this.$store.commit('stopLoading')
                        }
                    )
            },
            addUser() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', "Registering new user")
                    Axios.post('/api/user', this.user)
                        .then(
                            () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                                router.push('/users')
                            }
                        )
                }
            }
        },
        computed: {
        },
        mounted() {
            this.getDepartments()
        }
    }
</script>

<style>

</style>
