<template>
  <v-container>
    <v-card v-if="user">
      <v-card-title>
        <span class="subheading font-weight-medium">Profile</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text v-if="!isLoading">
        <v-form ref="form">
          <v-layout row wrap>
            <v-flex class="md2 pr-3">
              <v-select
                :items="['Mr.', 'Mrs.']"
                :rules="[rules.required]"
                v-model="user.surname"
                label="Sir name"
              ></v-select>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                append-icon="fa-signature"
                :rules="[rules.required]"
                v-model="user.first_name"
                label="First name"
              ></v-text-field>
            </v-flex>
            <v-flex class="md4 pr-3">
              <v-text-field
                append-icon="fa-signature"
                :rules="[rules.required]"
                v-model="user.middle_name"
                label="middle name"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3">
              <v-text-field
                append-icon="fa-signature"
                :rules="[rules.required]"
                v-model="user.last_name"
                label="Last name"
              ></v-text-field>
            </v-flex>
            <v-flex class="md2 pr-3">
              <v-select
                append-icon="fa-transgender"
                :rules="[rules.required]"
                v-model="user.sex"
                :items="['Male', 'Female']"
                label="Sex"
              ></v-select>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                append-icon="fa-flag"
                :rules="[rules.required]"
                v-model="user.email"
                disabled
                label="E-mail"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                append-icon="fa-flag"
                :rules="[rules.required]"
                v-model="user.nationality"
                label="Nationality"
              ></v-text-field>
            </v-flex>
            <v-flex class="md4 pr-3">
              <v-text-field
                append-icon="fa-map-marked-alt"
                :rules="[rules.required]"
                v-model="user.birth_place"
                label="Birth place"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-dialog
                ref="dialog"
                v-model="date_modal"
                :return-value.sync="user.birth_date"
                persistent
                lazy
                full-width
                width="590px"
              >
                <v-text-field
                  slot="activator"
                  :rules="[rules.required]"
                  v-model="user.birth_date"
                  label="Birth date"
                  append-icon="fa-calendar"
                ></v-text-field>
                <v-date-picker v-model="user.birth_date" full-width landscape class="mt-3">
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="date_modal = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.dialog.save(user.birth_date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-select
                v-model="user.department_id"
                :rules="[rules.required]"
                :items="departments"
                item-value="id"
                disabled
                item-text="name"
                label="Department"
              ></v-select>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-select
                :items="roles"
                :rules="[rules.required]"
                v-model="user.role_id"
                item-text="name"
                item-value="id"
                disabled
                label="Role"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="primary" @click="updateProfile">Update profile</v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="mt-3">
      <v-card-title>
        <span class="subheading font-weight-medium">Change password</span>
      </v-card-title>
      <v-card-text>
        <v-layout row wrap>
          <v-flex class="md5">
            <v-form ref="passwordForm">
              <v-text-field
                label="New password"
                v-model="password"
                type="password"
                :rules="[rules.required, rules.minLength]"
              ></v-text-field>
              <v-btn class="primary" @click="changePassword">Change password</v-btn>
            </v-form>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>


<script>
import Axios from "axios";
import router from "../../router";
export default {
  props: ["id"],
  data() {
    return {
      user: null,
      done: false,
      password: "",
      date_modal: false,
      roles: [],
      departments: [],
      rules: {
        required: value => !!value || "This field is required.",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
        minLength: value => value.length >= 8 || "Minimum length is 8 character"
      }
    };
  },
  methods: {
    getUser() {
      this.$store.commit("startLoading", "Fetching user data");
      Axios.get("/api/user/" + this.id).then(res => {
        this.user = res.data;
        this.done = true;
        this.$store.commit("stopLoading");
      });
    },
    getRoles() {
      this.$store.commit("startLoading", "Fetching roles");
      Axios.get("/api/roles").then(res => {
        this.roles = res.data;
        this.getDepartments();
      });
    },
    getDepartments() {
      this.$store.commit("startLoading", "Fetching departments");
      Axios.get("/api/departments").then(res => {
        this.departments = res.data;
        this.getUser();
      });
    },
    updateProfile() {
      if (this.$refs.form.validate()) {
        this.$store.commit("startLoading", "Updating user");
        const user = {
          surname: this.user.surname,
          first_name: this.user.first_name,
          middle_name: this.user.middle_name,
          last_name: this.user.last_name,
          sex: this.user.sex,
          nationality: this.user.nationality,
          birth_place: this.user.birth_place,
          birth_date: this.user.birth_date,
          department_id: this.user.department_id,
          role_id: this.user.role_id
        };
        Axios.patch(
          "/api/user/" +
            this.id +
            "?token=" +
            this.$store.state.userData.access_token,
          user
        ).then(() => {
          this.$store.dispatch("showNotification", {
            type: "success",
            value: "successfully updated"
          });
          router.push("/users");
        });
      }
    },
    changePassword() {
      if (this.$refs.passwordForm.validate()) {
        this.$store.commit("startLoading", "Updating password");
        Axios.patch(
          "/api/user/" +
            this.id +
            "?access_token=" +
            localStorage.getItem("access_token"),
          { password: this.password }
        ).then(() => {
          this.$store.dispatch("showNotification", {
            type: "success",
            value: "successfully changed!"
          });
          router.push("/users");
        });
      }
    }
  },
  computed: {
    isLoading() {
      return this.$store.state.loading;
    }
  },
  mounted() {
    if (!this.id) {
      router.push("/");
    }
    this.getRoles();
  }
};
</script>