<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Users</span>
                <v-spacer></v-spacer>
                <router-link to="/users/add"><v-icon color="primary">person_add</v-icon></router-link>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-spacer></v-spacer>
                        <v-layout row wrap class="pb-3">
                            <v-flex md4>
                                <v-text-field
                                        v-model="search"
                                        append-icon="fa-search"
                                        label="Search"
                                        single-line
                                        hide-details
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-data-table hide-actions :headers="headers" :items="users" class="elevation-1" :search="search">
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.first_name }}</td>
                                <td>{{ props.item.last_name }}</td>
                                <td>{{ props.item.email }}</td>
                                <td>{{ props.item.role.name }}</td>
                                <td>
                                    <router-link :to="'/users/edit/' + props.item.id" class="mr-1"><v-icon class="primary--text" v-html="'visibility'"></v-icon></router-link>
                                    <!-- <v-icon @click="deleteUser(props.item)" v-if="props.item.role.name !== 'admin'" class="error--text" v-html="'delete_forever'"></v-icon> -->
                                </td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    import Axios from 'axios'
    export default {
        data() {
            return {
                search: '',
                users: [],
                selectedItem: null,
                headers: [
                    {text: 'First name', value: 'first_name'},
                    {text: 'Last name', value: 'last_name'},
                    {text: 'Email', value: 'email'},
                    {text: 'Role', value: 'role'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ]
            }
        },
        methods: {
            getUsers() {
                this.$store.commit('startLoading', "Fetching users data")
                Axios.get('/api/users')
                    .then(
                        res => {
                            this.users = res.data;
                            this.$store.commit('stopLoading')
                        }
                    )
            },
            editUser(item) {
                this.selectedItem = this.users.indexOf(item)
            },
            deleteUser(item) {
                this.selectedItem = this.users.indexOf(item)
            }
        },
        computed: {
            isLoading() {
                return this.$store.state.loading
            }
        },
        mounted() {
            this.getUsers()
        }
    }
</script>