<template>
  <v-app>
    <v-content>
      <navbar></navbar>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>

    <!-- Loading dialog -->
    <v-dialog v-model="loading" persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          {{ loadingMessage }}
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Notification component -->
    <Notification v-if="isNotificationVisible" class="notification"></Notification>

  </v-app>
</template>

<script>
import navbar from "./components/nav";
import Notification from "./components/Notification";
export default {
    data() {
        return {
            // loading: true
        }
    },
  components: {
    navbar,
    Notification
  },
  computed: {
      loading() {
          return this.$store.state.loading;
      },
      loadingMessage() {
          return this.$store.state.loadingMessage;
      },
      isNotificationVisible() {
          return this.$store.state.notification.visible;
      }
  }
};
</script>

<style lang="scss" scoped>
    .notification {
        position: absolute;
        z-index: 9999;
        top: 50px;
        right: 0;
        min-width: 300px;
        max-width: 300px;
    }
</style>
