<template>
  <v-container>
    <v-card>
      <v-card-title>
        <span>Demographics</span>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = true" small fab flat>
          <v-icon>add_circle</v-icon>
        </v-btn>
        <v-dialog v-if="dialog" v-model="dialog" max-width="390">
          <AddDemograpics @done="getDemographics()" :prisoner_id="1"></AddDemograpics>
        </v-dialog>
      </v-card-title>
      <v-card-text>
        <v-layout row wrap>
          <v-flex>
            <v-data-table :headers="headers" :items="demographics" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.item_name }}</td>
                <td><img height="75px" :src="'/images/demographics/' + props.item.photo"></td>
                <td>{{ props.item.count }}</td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
import AddDemograpics from "./AddDemographics"

export default {
  props: [""],
  components: {AddDemograpics},
  data() {
    return {
      demographics: [],
      dialog: false,
      prisoner_id: 1,
      headers: [
        { text: "Item name", value: "item_name" },
        { text: "Image", value: "photo" },
        { text: "Count", value: "count" }
      ]
    };
  },
  methods: {
    getDemographics() {
      this.$store.commit("startLoading", "Fetching Demographics");
      Axios.get("/api/demographic-data/prisoner/" + this.prisoner_id).then(
        res => {
          console.log(res.data);
          this.demographics = res.data;
          this.dialog = false
          this.$store.commit("stopLoading");
        }
      );
    }
  },
  mounted() {
    this.getDemographics();
  }
};
</script>
