<template>
  <v-card>
    <v-card-text>
      <v-form ref="form">
        <v-layout row wrap>
          <v-flex md6 pr-3>
            <v-text-field :rules="[rules.required]" v-model="title" label="Title"></v-text-field>
          </v-flex>
          <v-flex md6>
            <v-select
              :items="crimes"
              :rules="[rules.required]"
              v-model="crime_id"
              item-text="nature_of_crime"
              item-value="id"
              label="Crime"
            ></v-select>
          </v-flex>
          <v-flex md6>
            <v-textarea
              name="description"
              :rules="[rules.required]"
              v-model="description"
              label="Description"
            ></v-textarea>
          </v-flex>
          <v-flex md6>
            <label for="file">File</label>
            <input
              @change="onFileChange"
              :rules="[rules.required]"
              type="file"
              name="file"
              id="file"
            >
          </v-flex>
          <v-btn @click="add" class="primary">Create</v-btn>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
import Router from '../../router'
export default {
  data() {
    return {
      crimes: [],
      title: "",
      description: "",
      crime_id: null,
      file: null,
      f: null,
      rules: {
        required: value => !!value || "This field is required."
      }
    };
  },
  methods: {
    getCrimes() {
      this.$store.commit("startLoading", "Fetching Forensics");
      Axios.get("/api/crime").then(res => {
        this.crimes = res.data;
        this.$store.commit("stopLoading");
      });
    },
    onFileChange(e) {
      console.log(e.target.files[0]);
      this.file = e.target.files[0];

      const f = new File(), reader = new FileReader()

      reader.onload = (e) => this.f = e.target.result

      reader.readAsDataURL(e.target.files[0])
    },
    add(e) {
      if (this.$refs.form.validate()) {
        this.$store.commit("startLoading", "Adding new forensic");
        e.preventDefault();
        let currentObj = this;

        const config = {
          headers: { "content-type": "multipart/form-data" }
        };

        let formData = new FormData();
        formData.append("title", this.title);
        formData.append("description", this.description);
        formData.append("crime_id", this.crime_id);
        formData.append("file", this.file);
        Axios.post("/api/forensic-module",formData, config).then(res => {
          console.log(res.data);
          Router.push("/forensics");
        });
      }
    }
  },
  mounted() {
    this.getCrimes();
  }
};
</script>

<style>
</style>