<template>
  <v-card>
    <v-card-title>
      <h3>Forensic modules</h3>
      <v-spacer></v-spacer>
      <v-btn to="/forensics/add" fab small class="primary">
        <v-icon>add</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-data-table :headers="headers" class="elevation-1" :items="forensics">
        <template slot="items" slot-scope="props">
          <td>{{props.item.title}}</td>
          <td>{{props.item.description}}</td>
          <td>{{props.item.crime.nature_of_crime}}</td>
          <td>
              <v-btn fab small :to="'/forensics/show/' + props.item.id">
                  <v-icon small>visibility</v-icon>
              </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      forensics: [],
      headers: [
        { text: "Title", value: "title" },
        { text: "Description", value: "description" },
        { text: "Crime", value: "crime" },
        { text: "", value: "" }
      ]
    };
  },
  methods: {
    getForensics() {
      this.$store.commit("startLoading", "Fetching Forensics");
      Axios.get("/api/forensic-modules").then(res => {
        this.forensics = res.data;
        console.log(res.data);
        this.$store.commit("stopLoading");
      });
    }
  },
  mounted() {
    this.getForensics();
  }
};
</script>

<style>
</style>
