<template>
  <v-card>
    <v-card-title>
      <h3>{{ forensic.title }}</h3>
    </v-card-title>
    <v-card-text>
        {{ forensic.description }}
        
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  props: ["id"],
  data() {
    return {
      forensic: {
        title: "",
        description: "",
        file: "",
        crime_id: null,
        crime: {}
      }
    };
  },
  methods: {
    getForensic() {
      this.$store.commit("startLoading", "Fetching Forensics");
      Axios.get("/api/forensic-module/" + this.id).then(res => {
        this.forensic = res.data;
        console.log(res.data);
        this.$store.commit("stopLoading");
      });
    }
  },
  mounted() {
    this.getForensic();
  }
};
</script>

<style>
</style>
