<template>
    <v-container >
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Biometrics</span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add biometric</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="biometrics" >
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.id}}</td>
                        <td>{{props.item.name}}</td>
                        <td>{{props.item.fingerprint}}</td>
                        <td>{{props.item.photo}}</td>
                        

                        <td>
                            <v-btn fab flat small @click="editBiometric(getIndex(props.item))"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>


                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Add new biometric information</v-card-title>
                <v-card-text>

                    <v-form >
                        <v-text-field label="Name" :rules="[rules.required]" v-model="biometric.name" :error-messages="(errors.name)? errors.name : []"></v-text-field>

                        <v-text-field label="fingerprint" :rules="[rules.required]" v-model="biometric.fingerprint" :error-messages="(errors.fingerprint)? errors.fingerprint : []"></v-text-field>


                        <img :src="image.preview"  height="150" v-if="image"/>

                        <input type="file" v-on:change="onImageChange" class="form-control"  >
                        <v-btn  @click="uploadImage" >Upload Image</v-btn>




                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click.native="endEdit">Cancel</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'add'" flat @click.native="addBiometrics">Add</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'edit'" flat @click.native="updateBiometrics">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent max-width="500">
            <v-card>
                <v-card-text>
                    <span v-if="selectedBiometric !== null">Delete "{{biometrics[selectedBiometric].name}}" biometric?</span>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" flat @click.native="deleteDialog = false">Cancel</v-btn>
                    <v-btn color="red darken-1" v-if="action === 'add'" flat @click.native="deleteBiometric">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
                title: "Image Upload",
                imageName: '',
                imageUrl: '',
                imageFile: '',
                photo: '',
                image:{
                    preview: '',
                    file: null
                },
                date: null,
                menu: false,
                modal: false,
                biometrics: [],
                errors: {},
                dialog: false,

                deleteDialog: false,
                selectedBiometric: null,
                action: 'add',
                biometric: {
                    image: '',
                    name: '',
                    fingerprint: ''
                },
                headers: [
                {text: 'id', value: 'id'},
                {text: 'Name', value: 'name'},

                {text: 'fingerprint', value: 'fingerprint'},
                {text: 'image', value: 'image'},


                {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'This field is required.'
                }
            }
        },
        methods: {
            onCreatebiometric (){
                if(!this.formIsValid){
                    return

                }
                if(!this.photo){
                    return

                }
                const biometricdata={
                    name:this.name,
                    fingerprint:this.fingerprint,
                    photo:this.photo

                }
                this.$store.dispatch('biometric',biometricdata)
                this.$router.push('api/biometric')

            },
           // 
           onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
            this.image.file = files[0]; 
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image.preview = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        uploadImage(){
            axios.post('api/biometric',{image: this.image.file}).then(response => {
               if (response.data.success) {
                 alert(response.data.success);
             }
         });
        },

        pickFile () {
            this.$refs.photo.click ()
        },
        onFilePicked (e) {

           const files = e.target.files
           if(files[0] !== undefined) {
            this.imageName = files[0].name
            if(this.imageName.lastIndexOf('.') <= 0) {
             return
         }
         const fr = new FileReader ()
         fr.readAsDataURL(files[0])
         fr.addEventListener('load', () => {
             this.imageUrl = fr.result
					this.photo= files[0] // this is an image file that can be sent to server...
				})

     } else {
        this.imageName = ''
        this.photo = ''
        this.imageUrl = ''
    }
},
getBiometrics() {


    axios.get("api/biometric").then(({data})=> 

        (this.biometrics = data.data,
            this.$store.commit('stopLoading')
            
            )

        )

},
addBiometrics() {
    if (this.$refs.form.validate()) {
      this.$store.commit('startLoading', "Registering new biometric information")
      Axios.post('/api/biometric', this.biometric)
      .then(
        (res) => {

            if (res.data.error) {
                console.log(res.data.error);
                this.errors = res.data.error

            } else {

                this.getBiometrics();    
                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                router.push("/users")

            }
        }
        ).catch(
        error => console.log(error.message)
        )
    }
},
updateBiometrics() {
    if (this.$refs.form.validate()) {
        this.$store.commit("startLoading", "Updating biometric");
        Axios.patch('/api/biometric/' + this.biometrics[this.selectedBiometric].id, this.biometric)
        .then(() => {
            this.$store.dispatch("showNotification", {
                type: "success",
                value: "successfully updated"

            });
            this.getBiometrics()
            dialog: false
        });
    }
},
editBiometric(index) {
    this.selectedBiometric = index
    this.errors = {};
    this.biometric.name = this.biometrics[index].name
    this.biometric.fingerprint = this.biometrics[index].fingerprint
    this.biometric.photo=this.biometrics[index].photo

    this.action = 'edit'
    this.dialog = true
},
endEdit() {
    this.selectedBiometric = null;
    this.biometric.name = '';
    this.biometric.fingerprint= '';
    this.biometric.photo='';
    this.biometric.birthplace='';

    this.action = 'add';
    this.dialog = false;

},
getIndex(data) {
    return this.biometrics.indexOf(data)

},
deleteBiometric() {
    Axios.delete('/api/biometric/' + this.biometrics[this.selectedBiometric].id)
    .then(
        (res) => {
            console.log(res.data)
            this.getBiometrics()
            this.deleteDialog = false
        }
        )
},
openDeleteDialog(index) {
    this.selectedBiometric = index
    this.deleteDialog = true
}
},
mounted() {
    this.getBiometrics()
},
computed: {
    isLoading() {
        return this.$store.state.loading;
    }

}
}
</script>