<template>
    <v-container>
        <v-layout row wrap>
            <v-flex md3 pa-2>
                <v-card color="primary">
                    <v-card-text>
                        <h3>
                            Departments
                        </h3>
                        <span>
                            # of departments
                        </span>
                        <br>
                        <br>
                        <h2>{{ departments }}</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md3 pa-2>
                <v-card color="yellow">
                    <v-card-text>
                        <h3>
                            Employees
                        </h3>
                        <span>
                            # of employees
                        </span>
                        <br>
                        <br>
                        <h2>{{ employees }}</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md3 pa-2>
                <v-card color="primary">
                    <v-card-text>
                        <h3>
                            Prisoners
                        </h3>
                        <span>
                            # of prisoners
                        </span>
                        <br>
                        <br>
                        <h2>{{ prisoners }}</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md3 pa-2>
                <v-card color="yellow">
                    <v-card-text>
                        <h3>
                            Firearms
                        </h3>
                        <span>
                            # of firearms
                        </span>
                        <br>
                        <br>
                        <h2>{{ firearms }}</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import Axios from 'axios';
export default {
    data() {
        return {
            employees: null,
            departments: null,
            prisoners: null,
            firearms: null
        }
    },
    methods: {
        getEmployeesCount() {
            Axios.get('/api/users/count')
            .then(
                res => {
                    this.employees = res.data
                }
            )
        },
        getDepartmentsCount() {
            Axios.get('/api/departments/count')
            .then(
                res => {
                    this.departments = res.data
                }
            )
        },
        getPrisonersCount() {
            Axios.get('/api/prisoners/count')
            .then(
                res => {
                    this.prisoners = res.data
                }
            )
        },
        getFirearmsCount() {
            Axios.get('/api/firearms/count')
            .then(
                res => {
                    this.firearms = res.data
                }
            )
        }
    },
    mounted() {
        this.getDepartmentsCount()
        this.getEmployeesCount()
        this.getPrisonersCount()
        this.getFirearmsCount()
    }
}
</script>
