<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Heathcare professionals</span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add Heathcare professional</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="HealthcareProfessionals" >
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.id}}</td>
                        <td>{{props.item.first_name}}</td>
                        <td>{{props.item.middle_name}}</td>
                        <td>{{props.item.last_name}}</td>
                        <td>{{props.item.sex}}</td>
                        <td>{{props.item.age}}</td>
                        <td>{{props.item.phone_number}}</td>
                        <td>{{props.item.education}}</td>
                        <td>{{props.item.current_activity}}</td>
                        <td>{{props.item.email}}</td>
                       
                        <td>
                            <v-btn fab flat small @click="editHealthcareProfessional(getIndex(props.item))"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>


                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Add Healthcare Professional</v-card-title>
                <v-card-text>
                    <v-form ref="form">
                            <v-text-field label="First Name" :rules="[rules.required]" v-model="HealthcareProfessional.first_name" :error-messages="(errors.first_name)? errors.first_name : []"></v-text-field>

                            <v-text-field label="Middle Name" :rules="[rules.required]" v-model="HealthcareProfessional.middle_name" :error-messages="(errors.gender)? errors.middle_name : []"></v-text-field>

                            <v-text-field label="Last Name" :rules="[rules.required]" v-model="HealthcareProfessional.last_name" :error-messages="(errors.age)? errors.last_name : []"></v-text-field>
                            
                            <v-text-field label="Sex" :rules="[rules.required]" v-model="HealthcareProfessional.sex" :error-messages="(errors.birthdate)? errors.sex : []"></v-text-field>

                            <v-text-field label="Age" :rules="[rules.required]" v-model="HealthcareProfessional.age" :error-messages="(errors.birthplace)? errors.age : []"></v-text-field>



                            <v-text-field label="Phone Number" :rules="[rules.required]" v-model="HealthcareProfessional.phone_number" :error-messages="(errors.nationality)? errors.phone_number : []"></v-text-field>

                            <v-text-field label="Education" :rules="[rules.required]" v-model="HealthcareProfessional.education" :error-messages="(errors.address)? errors.education : []"></v-text-field>


                            <v-textarea label="Current Activity" :rules="[rules.required]" v-model="HealthcareProfessional.current_activity" :error-messages="(errors.bio)? errors.current_activity : []"></v-textarea>
                            <v-textarea label="Email" :rules="[rules.required]" v-model="HealthcareProfessional.email" :error-messages="(errors.bio)? errors.email : []"></v-textarea>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click.native="endEdit">Cancel</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'add'" flat @click.native="addHealthcareProfessional">Add</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'edit'" flat @click.native="updateHealthcareProfessional">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent max-width="500">
            <v-card>
                <v-card-text>
                    <span v-if="selectedHealthcareProfessional !== null">Delete "{{HealthcareProfessional[selectedHealthcareProfessional].name}}" HealthcareProfessional?</span>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" flat @click.native="deleteDialog = false">Cancel</v-btn>
                    <v-btn color="red darken-1" v-if="action === 'add'" flat @click.native="deleteHealthcareProfessional">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
</v-container>
</template>
<script>
    import Axios from 'axios'

    export default {
        data() {
            return {

                HealthcareProfessionals: [],
                errors: {},
                dialog: false,

                deleteDialog: false,
                selectedHealthcareProfessional: null,
                action: 'add',
                HealthcareProfessional: {
                   
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    sex: '',
                    age: '',
                    phone_number:'',
                    education:'',
                    current_activity:'',
                    email:''
                },
                headers: [
                    {text: 'id', value: 'id'},
                    {text: 'first name', value: 'first_name'},
                    
                    {text: 'middle name', value: 'middle_name'},
                    {text: 'last name', value: 'last_name'},
                    {text: 'sex', value: 'sex'},
                    {text: 'age', value: 'age'}, 
                    {text: 'phone number', value: 'phone_number'},
                    {text: 'education', value: 'education'},
                    {text: 'current_activity', value: 'current_activity'},
                    {text: 'email', value: 'email'},
                   
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'This field is required.'
                }
            }
        },
        methods: {
            getHealthcareProfessional() {
                axios.get("api/healthcareProfessional").then(({data})=> (this.HealthcareProfessional = data.data));
            },
            addHealthcareProfessional() {
                if (this.$refs.form.validate()) {
                console.log("Hello")
                    Axios.post('/api/healthcareProfessional', this.HealthcareProfessional)
                        .then(
                            (res) => {
                                if (res.data.error) {
                                    console.log(res.data.error);
                                    this.errors = res.data.error
                                } else {
                                    this.getHealthcareProfessional();
                                }
                            }
                        ).catch(
                            error => console.log(error.message)
                    )
                }
            },
            updateHealthcareProfessional() {
                if (this.$refs.form.validate()) {
                    Axios.patch('/api/healthcareProfessional/' + this.HealthcareProfessional[this.selectedHealthcareProfessional].id, this.HealthcareProfessional)
                        .then(
                            () => {
                                this.getHealthcareProfessional()
                            }
                        )
                }
            },
            editHealthcareProfessional(index) {
                this.selectedHealthcareProfessional = index
                this.errors = {};
                this.HealthcareProfessional.first_name = this.HealthcareProfessional[index].first_name
                this.HealthcareProfessional.middle_name = this.HealthcareProfessional[index].middle_name
                this.HealthcareProfessional.last_name=this.HealthcareProfessional[index].last_name
                this.HealthcareProfessional.sex=this.HealthcareProfessional[index].sex
                this.HealthcareProfessional.age=this.HealthcareProfessional[index].age
                 this.HealthcareProfessional.phone_number=this.HealthcareProfessional[index].phone_number
                  this.HealthcareProfessional.education=this.HealthcareProfessional[index].education
                    this.HealthcareProfessional.current_activity=this.HealthcareProfessional[index].current_activity 
                     this.HealthcareProfessional.email=this.HealthcareProfessional[index].email 
                this.action = 'edit'
                this.dialog = true
            },
            endEdit() {
                this.selectedHealthcareProfessional = null;
                this.HealthcareProfessional.first_name = '';
                this.HealthcareProfessional.middle_name= '';
                this.HealthcareProfessional.last_name='';
                this.HealthcareProfessional.sex='';
                this.HealthcareProfessional.phone_number='';
                 this.HealthcareProfessional.age='';
                  this.HealthcareProfessional.education='';
                   this.HealthcareProfessional.current_activity='';
                    this.HealthcareProfessional.email='';
                this.action = 'add';
                this.dialog = false
            },
            getIndex(data) {
                return this.HealthcareProfessionals.indexOf(data)
            },
            deleteHealthcareProfessional() {
                Axios.delete('/api/healthcareProfessional/' + this.HealthcareProfessional[this.selectedHealthcareProfessional].id)
                    .then(
                        (res) => {
                            console.log(res.data)
                            this.getHealthcareProfessional()
                            this.deleteDialog = false
                        }
                    )
            },
            openDeleteDialog(index) {
                this.selectedHealthcareProfessional = index
                this.deleteDialog = true
            }
        },
        mounted() {
            this.getHealthcareProfessional()
        },
        computed: {
            url() {
                return this.$store.state.url
            }
        }
    }
</script>