<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Medical Appointments</span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add Medical Appointment</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="departments">
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.name}}</td>
                        <td>{{props.item.description}}</td>
                        <td>
                            <v-btn fab flat small @click="editDepartment(getIndex(props.item))"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>


        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Add Medical Appointment</v-card-title>
                <v-card-text>
                    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    

    <v-select
      v-model="select"
      :items="items"
      :rules="[v => !!v || 'ID is required']"
      label="ID"
      required
    ></v-select>
    
    
    <v-dialog
        ref="dialog"
        v-model="modal2"
        :return-value.sync="time"
        persistent
        lazy
        full-width
        width="290px"
      >
        <template>
          <v-text-field
            v-model="time"
            label="Picker in dialog"
            prepend-icon="access_time"
            readonly
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="modal2"
          v-model="time"
          full-width
        >
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
        </v-time-picker>
      </v-dialog>
  </v-form> 
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click.native="endEdit">Cancel</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'add'" flat @click.native="addDepartment">Add</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'edit'" flat @click.native="updateDepartment">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent max-width="500">
            <v-card>
                <v-card-text>
                    <span v-if="selectedDepartment !== null">Delete "{{departments[selectedDepartment].name}}" department?</span>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" flat @click.native="endEdit()">Cancel</v-btn>
                    <v-btn color="red darken-1" v-if="action === 'add'" flat @click.native="deleteDepartment">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import Axios from 'axios'

    export default {
        data() {



            return {
        items: [],
        valid: true,
        select: '',
        time: null,
        menu2: false,
        modal2: false,
        departments: [],
                errors: {},
                dialog: false,
                deleteDialog: false,
                selectedDepartment: null,
                action: 'add',
                department: {
                    name: '',
                    description: ''
                },
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Description', value: 'description'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'This field is required.'
                }
            }
        },
        methods: {
            getDepartments() {
                this.$store.commit('startLoading', 'Fetching dipartments');
                Axios.get('/api/departments')
                    .then(
                        res => {
                            this.departments = res.data
                            this.endEdit()
                        }
                    )
            },
            addDepartment() {
                if (this.$refs.form.validate()) {
                this.$store.commit('startLoading', 'Adding new department');
                    Axios.post('/api/department', this.department)
                        .then(
                            (res) => {
                                if (res.data.error) {
                                    this.errors = res.data.error
                                    this.$store.commit('stopLoading');
                                this.$store.dispatch('showNotification', {"type": "error", "value": "Invalid data!"});
                                } else {
                                    this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                                    this.getDepartments();
                                }
                            }
                        ).catch(
                            error => console.log(error.message)
                    )
                }
            },
            updateDepartment() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', 'Updating dipartment');
                    Axios.patch('/api/department/' + this.departments[this.selectedDepartment].id, this.department)
                        .then(
                            () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully updated!"});
                                this.getDepartments()
                            }
                        )
                }
            },
            editDepartment(index) {
                this.selectedDepartment = index
                this.errors = {};
                this.department.name = this.departments[index].name
                this.department.description = this.departments[index].description
                this.action = 'edit'
                this.dialog = true
            },
            endEdit() {
                this.selectedDepartment = null;
                this.department.name = '';
                this.department.description = '';
                this.action = 'add';
                this.dialog = false
                this.$refs.form.resetValidation();
                this.$store.commit('stopLoading');
            },
            getIndex(data) {
                return this.departments.indexOf(data)
            },
            deleteDepartment() {
                this.$store.commit('startLoading', 'Removing dipartment');
                Axios.delete('/api/department/' + this.departments[this.selectedDepartment].id)
                    .then(
                        (res) => {
                            this.$store.dispatch('showNotification', {"type": "success", "value": "successfully deleted!"});
                            this.getDepartments()
                            this.deleteDialog = false
                        }
                    )
            },
            openDeleteDialog(index) {
                this.selectedDepartment = index
                this.deleteDialog = true
            }
        },
        mounted() {
            this.getDepartments()
        }
    }
    
</script>
