<template>
    <v-container >
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Payroll Management</span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add Payroll</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="payrolls" >
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.id}}</td>
                        <td>{{props.item.name}}</td>
                        <td>{{props.item.current_activity}}</td>
                        <td>{{props.item.amount}}</td>
                        <td>{{props.item.tax}}</td>
                        <td>{{props.item.acknowledgment}}</td>
                        
                       
                        <td>
                            <v-btn fab flat small @click="editPayroll(getIndex(props.item))"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>


                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Add new Payroll</v-card-title>
                <v-card-text>
                    <v-form ref="form">
                     
                            <v-text-field label="Name" :rules="[rules.required]" v-model="payroll.name" :error-messages="(errors.name)? errors.name : []"></v-text-field>

                            <v-text-field label="Current Activity" :rules="[rules.required]" v-model="payroll.current_activity" :error-messages="(errors.current_activity)? errors.current_activity : []"></v-text-field>

                            <v-text-field label="Amount" :rules="[rules.required]" v-model="payroll.amount" :error-messages="(errors.amount)? errors.amount : []"></v-text-field>
                           
                           <v-text-field label="Tax" :rules="[rules.required]" v-model="payroll.tax" :error-messages="(errors.tax)? errors.tax : []"></v-text-field>



                            <v-text-field label="Acknowledgment" :rules="[rules.required]" v-model="payroll.acknowledgment" :error-messages="(errors.acknowledgment)? errors.acknowledgment : []"></v-text-field>

                            
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click.native="endEdit">Cancel</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'add'" flat @click.native="addPayroll">Add</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'edit'" flat @click.native="updatePayroll">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent max-width="500">
            <v-card>
                <v-card-text>
                    <span v-if="selectedPayroll !== null">Delete "{{payrolls[selectedPayroll].name}}" payroll?</span>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" flat @click.native="deleteDialog = false">Cancel</v-btn>
                    <v-btn color="red darken-1" v-if="action === 'add'" flat @click.native="deletePayroll">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
</v-container>
</template>
<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
    date: null,
    menu: false,
    modal: false,
                payrolls: [],
                errors: {},
                dialog: false,

                deleteDialog: false,
                selectedPayroll: null,
                action: 'add',
                payroll: {
                    id:'',
                    name: '',
                    current_activity: '',
                    amount: '',
                    tax: '',
                    acknowledgment: ''
                    
                },
                headers: [
                    {text: 'id', value: 'id'},
                    {text: 'Name', value: 'name'},
                    
                    {text: 'Current Activity', value: 'Current Activity'},
                    {text: 'Amount', value: 'amount'},
                    {text: 'Tax', value: 'tax'},
                    {text: 'Acknowledgment', value: 'acknowledgment'}, 
                    
                   
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'This field is required.'
                }
            }
        },
        methods: {
            getPayrolls() {
                
                 this.$store.commit('startLoading', 'Fetching payrolls Activity')
                axios.get("api/payroll").then(({data})=> 
                
            (this.payrolls = data.data,
            this.$store.commit('stopLoading')
            
            )
            
            )
                      
            },
            addPayroll() {
                if (this.$refs.form.validate()) {
                  this.$store.commit('startLoading', "Registering new payroll")
                    Axios.post('/api/payroll', this.payroll)
                        .then(
                            (res) => {
                                
                                if (res.data.error) {
                                    console.log(res.data.error);
                                    this.errors = res.data.error
                                    
                                } else {
                                  
                                this.getPayrolls();    
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                               router.push("/users")
                                
                                }
                            }
                        ).catch(
                            error => console.log(error.message)
                    )
                }
            },
            updatePayroll() {
                if (this.$refs.form.validate()) {
                    this.$store.commit("startLoading", "Updating payroll");
                    Axios.patch('/api/payroll/' + this.payrolls[this.selectedPayroll].id, this.payroll)
                        .then(() => {
                                this.$store.dispatch("showNotification", {
                                type: "success",
                                value: "successfully updated"
                                 
                                });
                                 this.getPayrolls()
                                dialog: false
                            });
                }
            },
            editPayroll(index) {
                this.selectedPayroll = index
                this.errors = {};
                this.payroll.name = this.payrolls[index].name
                this.payroll.current_activity = this.payrolls[index].current_activity
                this.payroll.amount=this.payrolls[index].amount
                this.payroll.tax=this.payrolls[index].tax
                this.payroll.acknowledgment=this.payrolls[index].acknowledgment
                 
                this.action = 'edit'
                this.dialog = true
            },
            endEdit() {
                this.selectedPayroll = null;
                this.payroll.name = '';
                this.payroll.current_activity= '';
                this.payroll.amount='';
                this.payroll.tax='';
                this.payroll.acknowledgment='';
                 
                this.action = 'add';
                this.dialog = false;
              
            },
            getIndex(data) {
                return this.payrolls.indexOf(data)
                
            },
            deletePayroll() {
                Axios.delete('/api/payroll/' + this.payrolls[this.selectedPayroll].id)
                    .then(
                        (res) => {
                            console.log(res.data)
                            this.getPayrolls()
                            this.deleteDialog = false
                        }
                    )
            },
            openDeleteDialog(index) {
                this.selectedPayroll= index
                this.deleteDialog = true
            }
        },
        mounted() {
            this.getPayrolls()
        },
        computed: {
            isLoading() {
                return this.$store.state.loading;
            }
            
        }
    }
</script>