<template>
    <v-container v-if="!isLoading">
        <v-layout row wrap>
            <v-flex xs12 md6 class="mb-3">
                <v-card>
                    <v-card-title primary-title>
                        <v-flex xs12>
                            <span class="title pb-3">{{action}} permission</span>
                        </v-flex>
                        <v-flex xs12>
                            <v-form ref="form">
                                <v-text-field :rules="[rules.require]" label="Name" v-model="name" type="text" :validate-on-blur=true></v-text-field>
                            </v-form>
                        </v-flex>
                    </v-card-title>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="addPermission" v-if="action == 'add'" class="primary">Add</v-btn>
                        <v-btn @click="updatePermission" v-if="action == 'edit'" class="primary">Update</v-btn>
                        <v-btn @click="endEdit" v-if="action == 'edit'" class="error">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-data-table :headers="headers" :items="permissions" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>
                            <v-btn fab flat small @click="editPermission(props.item)"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="deletePermission(props.item)"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    Delete permission
                </v-card-title>
                <v-card-text>
                    Are you sure you want to delete this permission?
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" flat @click="removePermission">Delete</v-btn>
                    <v-btn color="warning" flat @click="dialog = false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
                permissions: [],
                dialog: false,
                errors: [],
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                selectedItem: null,
                name: '',
                action: 'add',
                rules: {
                    require: value => !!value || 'This field is required!'
                }
            }
        },
        computed: {
            isLoading() {
                return this.$store.state.loading;
            }
        },
        methods: {
            getPermissions() {
                this.$store.commit('startLoading', 'Fetching permissions')
                Axios.get('/api/permissions')
                    .then(
                        res => {
                            this.permissions = res.data
                            this.endEdit()
                        }
                    )
            },
            editPermission(item) {
                this.selectedItem = this.permissions.indexOf(item)
                this.name = this.permissions[this.selectedItem].name
                this.action = 'edit'
            },
            endEdit() {
                this.selectedItem = null
                this.action = 'add'
                this.name = ''
                this.$store.commit('stopLoading')
            },
            deletePermission(item) {
                this.selectedItem = this.permissions.indexOf(item)
                this.dialog = true
            },
            removePermission() {
                this.dialog = false
                this.$store.commit('startLoading', 'Deleting permission')
                Axios.delete('/api/permission/' + this.permissions[this.selectedItem].id)
                    .then(
                        () => {
                            this.$store.dispatch('showNotification', {"type": "success", "value": "successfully deleted!"});
                            this.getPermissions()
                        }
                    )
            },
            updatePermission() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', 'Updating permission')
                    Axios.patch('/api/permission/' + this.permissions[this.selectedItem].id, {name: this.name})
                        .then(
                            () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully updated!"});
                                this.getPermissions()
                            }
                        )
                }
            },
            addPermission() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', 'Adding new permission')
                    Axios.post('/api/permission', {name: this.name})
                        .then(
                            () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                                this.getPermissions()
                            }
                        )
                }
            }
        },
        mounted() {
            this.getPermissions()
        }
    }
</script>
