<template>
    <v-container >
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Prisoners Management</span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add Prisoner</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="prisoners" >
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.id}}</td>
                        <td>{{props.item.name}}</td>
                        <td>{{props.item.gender}}</td>
                        <td>{{props.item.age}}</td>
                        <td>{{props.item.birthdate}}</td>
                        <td>{{props.item.birthplace}}</td>
                        <td>{{props.item.nationality}}</td>
                       
                        <td>
                            <v-btn fab flat small @click="editPrisoner(getIndex(props.item))"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>


                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Add new prisoner</v-card-title>
                <v-card-text>
                    <v-form ref="form">
                            <v-text-field label="Name" :rules="[rules.required]" v-model="prisoner.name" :error-messages="(errors.name)? errors.name : []"></v-text-field>

                            <v-text-field label="Gender" :rules="[rules.required]" v-model="prisoner.gender" :error-messages="(errors.gender)? errors.gender : []"></v-text-field>

                            <v-text-field label="Age" :rules="[rules.required]" v-model="prisoner.age" :error-messages="(errors.age)? errors.age : []"></v-text-field>
                           
       <v-menu
                    lazy
                    offset-y
                    full-width
                    :close-on-content-click="true"
                    
                    v-model="menu"
                    transition="scale-transition"
                    :nudge-right="40"
                    max-width="290px"
                    min-width="290px"
                    >
                        <v-text-field
                        slot="activator"
                        label="Birth Date"
                        required
                        v-model="prisoner.birthdate"
                        prepend-icon="event"
                        readonly
                        ></v-text-field>
                        <v-date-picker
                            show-current
                            class="mt-3"
                            v-model="prisoner.birthdate"
                        >
                        <template slot-scope="{ save, cancel }">
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                            </v-card-actions>
                        </template>
                     </v-date-picker>
                </v-menu>
                           

                            <v-text-field label="Birth Place" :rules="[rules.required]" v-model="prisoner.birthplace" :error-messages="(errors.birthplace)? errors.birthplace : []"></v-text-field>



                            <v-text-field label="Nationality" :rules="[rules.required]" v-model="prisoner.nationality" :error-messages="(errors.nationality)? errors.nationality : []"></v-text-field>

                            <v-text-field label="Address" :rules="[rules.required]" v-model="prisoner.address" :error-messages="(errors.address)? errors.address : []"></v-text-field>


                            <v-textarea label="Prisoner Bio" :rules="[rules.required]" v-model="prisoner.bio" :error-messages="(errors.bio)? errors.bio : []"></v-textarea>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click.native="endEdit">Cancel</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'add'" flat @click.native="addPrisoner">Add</v-btn>
                    <v-btn color="green darken-1" v-if="action === 'edit'" flat @click.native="updatePrisoners">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent max-width="500">
            <v-card>
                <v-card-text>
                    <span v-if="selectedPrisoner !== null">Delete "{{prisoners[selectedPrisoner].name}}" prisoner?</span>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning darken-1" flat @click.native="deleteDialog = false">Cancel</v-btn>
                    <v-btn color="red darken-1" v-if="action === 'add'" flat @click.native="deletePrisoner">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
</v-container>
</template>
<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
    date: null,
    menu: false,
    modal: false,
                prisoners: [],
                errors: {},
                dialog: false,

                deleteDialog: false,
                selectedPrisoner: null,
                action: 'add',
                prisoner: {
                    name: '',
                    age: '',
                    bio: '',
                    gender: '',
                    address: '',
                    birthdate:'',
                    birthplace:'',
                    nationality:''
                },
                headers: [
                    {text: 'id', value: 'id'},
                    {text: 'Name', value: 'name'},
                    
                    {text: 'Gender', value: 'gender'},
                    {text: 'Age', value: 'age'},
                    {text: 'Birth Date', value: 'birthdate'},
                    {text: 'Birth Place', value: 'birthplace'}, 
                    {text: 'Nationality', value: 'nationality'},
                   
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'This field is required.'
                }
            }
        },
        methods: {
            getPrisoners() {
                this.$store.commit('startLoading', 'Fetching prisoners')
                
                axios.get("api/prisoners").then(({data})=> 
                
            (this.prisoners = data.data,
            this.$store.commit('stopLoading')
            
            )
            
            )
                      
            },
            addPrisoner() {
                if (this.$refs.form.validate()) {
                  this.$store.commit('startLoading', "Registering new prisoner")
                    Axios.post('/api/prisoners', this.prisoner)
                        .then(
                            (res) => {
                                
                                if (res.data.error) {
                                    console.log(res.data.error);
                                    this.errors = res.data.error
                                    
                                } else {
                                  
                                this.getPrisoners();    
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                                router.push("/users")
                                
                                }
                            }
                        ).catch(
                            error => console.log(error.message)
                    )
                }
            },
            updatePrisoners() {
                if (this.$refs.form.validate()) {
                    this.$store.commit("startLoading", "Updating prisoner");
                    Axios.patch('/api/prisoners/' + this.prisoners[this.selectedPrisoner].id, this.prisoner)
                        .then(() => {
                                this.$store.dispatch("showNotification", {
                                type: "success",
                                value: "successfully updated"
                                 
                                });
                                 this.getPrisoners()
                                dialog: false
                            });
                }
            },
            editPrisoner(index) {
                this.selectedPrisoner = index
                this.errors = {};
                this.prisoner.name = this.prisoners[index].name
                this.prisoner.age = this.prisoners[index].age
                this.prisoner.birthdate=this.prisoners[index].birthdate
                this.prisoner.birthplace=this.prisoners[index].birthplace
                this.prisoner.nationality=this.prisoners[index].nationality
                 this.prisoner.address=this.prisoners[index].address
                  this.prisoner.bio=this.prisoners[index].bio
                    this.prisoner.gender=this.prisoners[index].gender 
                this.action = 'edit'
                this.dialog = true
            },
            endEdit() {
                this.selectedPrisoner = null;
                this.prisoner.name = '';
                this.prisoner.age= '';
                this.prisoner.birthdate='';
                this.prisoner.birthplace='';
                this.prisoner.nationality='';
                 this.prisoner.address='';
                  this.prisoner.birthdate='';
                   this.prisoner.birthplace='';
                    this.prisoner.bio='';
                this.action = 'add';
                this.dialog = false;
              
            },
            getIndex(data) {
                return this.prisoners.indexOf(data)
                
            },
            deletePrisoner() {
                Axios.delete('/api/prisoners/' + this.prisoners[this.selectedPrisoner].id)
                    .then(
                        (res) => {
                            console.log(res.data)
                            this.getPrisoners()
                            this.deleteDialog = false
                        }
                    )
            },
            openDeleteDialog(index) {
                this.selectedPrisoner = index
                this.deleteDialog = true
            }
        },
        mounted() {
            this.getPrisoners()
        },
        computed: {
            isLoading() {
                return this.$store.state.loading;
            }
            
        }
    }
</script>