<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Prisoner Movement </span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">Add Prisoner</v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-data-table hide-actions :headers="headers" class="elevation-1" :items="PrisonerMovements">
                    <template slot="items" slot-scope="props">
                        <td>{{props.item.prisoner_id}}</td>
                        <td>{{props.item.driver_id}}</td>
                        <td>{{props.item.guard1_id}}</td>
                        <td>{{props.item.guard2_id}}</td>
                        <td>{{props.item.guard3_id}}</td>
                        <td>
                            <v-btn fab flat small @click="editPrisonerMovement(getIndex(props.item))"><v-icon color="info">edit</v-icon>
                            </v-btn>
                            <v-btn fab flat small @click="openDeleteDialog(getIndex(props.item))"><v-icon color="error">
                                delete_forever
                            </v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
                PrisonerMovements: [],
                error: {},
                dialog: false,
                deleteDialog: false,
                selectedPrisonerMovements: null,
                action: 'add',
                PrisonerMovements: {
                    prisoner_id: [],
                    driver_id: [],
                    guard1_id: [],
                    guard2_id: [],
                    guard3_id: []
                },
                headers: [
                    {text: 'Prisoner', value: 'prisoner_id'},
                    {text: 'Driver', value: 'driver_id'},
                    {text: 'Guard One', value: 'guard1_id'},
                    {text: 'Guard Two', value: 'guard2_id'},
                    {text: 'Guard Three', value: 'guard3_id'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                rules: {
                    required: value => !!value || 'this field is required.'
                }
            }
        },
        methods: {
            getPrisonerMovements() {
                Axios.get('api/PrisonerMovements')
                    .then(
                        res => {
                            this.PrisonerMovements = res.data
                            this.endEdit()
                        }
                    )
            },
            addPrisonerMovement() {
                if (this.$refs.form.validate()) {
                    Axios.post('api/PrisonerMovement', this.PrisonerMovements)
                        .then(
                            (res) => {
                                if (res.data.error) {
                                    console.log(res.data.error);
                                    this.errors = res.data.error
                                } else {
                                    this.getPrisonerMovements();
                                }
                            }
                        ).catch(
                        error => console.log(error.message)
                    )
                }
            },
            updatePrisonerMovement() {
                if (this.$refs.form.validate()) {
                    Axios.patch('api/PrisonerMovement' + this.PrisonerMovements[this.selectedPrisonerMovement].id, this.PrisonerMovement)
                        .then(
                            () => {
                                this.getPrisonerMovements()
                            }
                        )
                }
            },
            editPrisonerMovement(index) {
                this.selectedPrisonerMovement = index
                this.errors = {};
                this.PrisonerMovement.prisoner_id = this.PrisonerMovements[
                    index].prisoner_id
                this.PrisonerMovement.driver_id = this.PrisonerMovements[index].driver_id
                this.PrisonerMovement.guard1_id = this.PrisonerMovements[index].guard1_id
                this.PrisonerMovement.guard2_id = this.PrisonerMovements[index].guard2_id
                this.PrisonerMovement.guard3_id = this.PrisonerMovements[index].guard3_id
                this.action = "edit"
                this.dialog = true
            },
            endEdit() {
                this.selectedPrisonerMovement = null;
                this.PrisonerMovement.prisoner_id = '';
                this.PrisonerMovement.driver_id = '';
                this.PrisonerMovement.guard1_id = '';
                this.PrisonerMovement.guard2_id = '';
                this.PrisonerMovement.guard3_id = '';
                this.action = 'add';
                this.dialog = false
            },
            getIndex(data) {
                return this.PrisonerMovements.indexOf(data)
            },
            deletePrisonerMovement() {
                Axios.delete('api/PrisonerMovement' + this.PrisonerMovements[this.selectedPrisonerMovement].id)
                    .then(
                        (res) => {
                            console.log(res.data)
                            this.getPrisonerMovements()
                            this.deleteDialog = false
                        }
                    )
            },
            openDeleteDialog(index) {
                this.selectedPrisonerMovement = index
                this.deleteDialog = true
            },
            openDeleteDialog(index){
            this.selectedPrisonerMovement = index
            this.deleteDialog = true
        }
    },
    mounted() {
        this.getPrisonerMovements()
    },
    computed: {
        url(){
            return this.$store.state.url
        }
    }
}
</script>