<template>
    <v-container v-if="!isLoading">
        <v-layout row wrap>
            <v-flex xs12 class="mb-3">
                <v-card>
                    <v-form ref="form">
                    <v-card-title primary-title>
                            <v-flex xs12>
                                <span class="title">{{action}} role</span>
                            </v-flex>
                            <v-flex md4 class="pr-3">
                                <v-text-field :rules="[rules.require]" label="Name" v-model="name" type="text" :validate-on-blur=true></v-text-field>
                            </v-flex>
                            <v-flex md8>
                                <v-autocomplete v-model="selected" :rules="[v => !!v || 'This field is required']" :items="permissions" small-chips
                                                label="Permissions" item-text="name" item-value="id" multiple>
                                    <template slot="selection" slot-scope="data">
                                        <v-chip :selected="data.selected" close class="chip--select-multi"
                                                @input="remove(data.item)">
                                            {{ data.item.name }}
                                        </v-chip>
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        <template v-if="typeof data.item !== 'object'">
                                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                        </template>
                                        <template v-else>
                                            <v-list-tile-content>
                                                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                            </v-list-tile-content>
                                        </template>
                                    </template>
                                </v-autocomplete>
                            </v-flex>
                    </v-card-title>
                    </v-form>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="addRole" v-if="action == 'add'" class="primary">Add
                        </v-btn>
                        <v-btn @click="updateRole" v-if="action == 'edit'" class="primary">
                            Update
                        </v-btn>
                        <v-btn @click="endEdit" v-if="action == 'edit'" class="error">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-data-table :headers="headers" :items="roles" class="elevation-1">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>
                            <v-btn fab flat small @click="editRole(props.item)"><v-icon color="info">edit</v-icon></v-btn>
                            <v-btn fab flat small @click="deleteRole(props.item)"><v-icon color="error">delete_forever</v-icon></v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    Delete role
                </v-card-title>
                <v-card-text>
                    Are you sure you want to delete this role?
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" flat @click="removeRole">Delete</v-btn>
                    <v-btn color="warning" flat @click="dialog = false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
                roles: [],
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                selectedItem: null,
                name: '',
                action: 'add',
                dialog: false,
                selected: [],
                permissions: [],
                rules: {
                    require: value => !!value || 'This field is required!'
                }
            }
        },
        computed: {
            isLoading() {
                return this.$store.state.loading;
            }
        },
        methods: {
            getRoles() {
                this.$store.commit('startLoading', 'Fetching roles')
                Axios.get('/api/roles/withPermission')
                    .then(
                        res => {
                            this.roles = res.data;
                            this.getPermissions();
                        }
                    )
            },
            getPermissions() {
                this.$store.commit('startLoading', 'Fetching permissions')
                Axios.get('/api/permissions')
                    .then(
                        res => {
                            this.permissions = res.data;
                            this.endEdit();
                        }
                    )
            },
            editRole(item) {
                this.selectedItem = this.roles.indexOf(item)
                this.name = this.roles[this.selectedItem].name
                this.selected = []
                for (let i = 0; i < this.roles[this.selectedItem].permissions.length; i++) {
                    this.selected.push(this.roles[this.selectedItem].permissions[i].id)
                }
                this.action = 'edit'
            },
            deleteRole(item) {
                this.selectedItem = this.roles.indexOf(item)
                this.dialog = true
            },
            endEdit() {
                this.selectedItem = null
                this.action = 'add'
                this.name = ''
                this.selected = []
                this.$store.commit('stopLoading')
            },
            removeRole() {
                this.dialog = false
                this.$store.commit('startLoading', 'Deleting role')
                Axios.delete('/api/role/' + this.roles[this.selectedItem].id)
                    .then(
                        () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "Successfully deleted!"});
                            this.getRoles()
                        }
                    )
            },
            updateRole() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', 'Updating role')
                    Axios.patch('/api/role/' + this.roles[this.selectedItem].id, {name: this.name, permissions: this.selected})
                        .then(
                            () => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully updated!"});
                                this.getRoles()
                            }
                        )
                }
            },
            addRole() {
                if (this.$refs.form.validate()) {
                    this.$store.commit('startLoading', 'Adding new role')
                    Axios.post('/api/role', {name: this.name, permissions: this.selected})
                        .then(
                            res => {
                                this.$store.dispatch('showNotification', {"type": "success", "value": "successfully added!"});
                                this.getRoles()
                            }
                        )
                }
            },
            remove(item) {
                const index = this.selected.indexOf(item.id)
                if (index >= 0) this.selected.splice(index, 1)
            }
        },
        mounted() {
            this.getRoles();
        }
    }
</script>
