<template>
    <v-container>
        <v-card>
            <v-card-title>
                <span class="subheading font-weight-medium">Trainings
                </span>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click.native="dialog = true">

                </v-btn>
            </v-card-title>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "training.vue"
    }
</script>

<style scoped>

</style>