<template>
  <v-layout>
    <!-- Side navigation bar -->
    <v-navigation-drawer
      v-if="isAuthenticated"
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      app
    >
      <v-layout column align-center>
        <v-flex class="mt-2">
          <v-avatar v-if="!miniVariant" size="100">
            <v-img src="/img/police.jpeg"></v-img>
          </v-avatar>
          <v-avatar v-else size="50">
            <v-img src="/img/police.jpeg"></v-img>
          </v-avatar>
        </v-flex>
        <v-flex>
          <span class="mt-1 subheading font-weight-black">{{getName.toUpperCase()}}</span>
          <router-link :to="'/users/profile/' + user.id">
            <v-icon small color="primary">edit</v-icon>
          </router-link>
          <v-layout column align-center>
            <h4 class="text-center lable">{{ user.role.name }}</h4>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <template v-for="(item, i) in sideNavLinks">
          <v-list-tile v-if="hasPermission(item.permission)" router :to="item.link" :key="i">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>

    <!-- Top navigation bar -->
    <v-toolbar color="primary" dark app clipped-left dense>
      <v-toolbar-side-icon v-if="isAuthenticated" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon v-if="drawer && isAuthenticated" @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'arrow_right' : 'arrow_left'"></v-icon>
      </v-btn>
      <v-toolbar-title>
        <small>{{title}}</small>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-menu v-if="isAuthenticated" left bottom absolute min-width="300px">
          <v-toolbar-items slot="activator">
            <v-btn small class="mr-3" icon>
              <v-badge top color="blue">
                <span slot="badge">{{ notifications.length }}</span>
                <v-icon small>message</v-icon>
              </v-badge>
            </v-btn>
          </v-toolbar-items>
          <template>
            <v-card>
              <div class="title">Notifications</div>
              <v-divider></v-divider>
              <div class="notification">
                <v-list dense>
                  <v-list-tile
                    class="list"
                    v-for="notification in notifications"
                    :key="notification.id"
                    :to="notification.link"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ notification.header }}</v-list-tile-title>
                      <v-list-tile-sub-title>{{ notification.description }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </div>
            </v-card>
          </template>
        </v-menu>
      </v-toolbar-items>
      <v-toolbar-items>
        <v-btn v-if="isAuthenticated" flat @click="logout">
          <span>Logout</span>
          <v-icon right v-html="'fa-sign-out-alt'"></v-icon>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      drawer: true,
      menu: false,
      sideNavLinks: [
        {
          icon: "people",
          link: "/users",
          name: "Users",
          permission: "view_users"
        },
        {
          icon: "dashboard",
          link: "/departments",
          name: "Departments",
          permission: "view_departments"
        },
        {
          icon: "dns",
          link: "/roles",
          name: "Roles",
          permission: "view_roles"
        },
        {
          icon: "pan_tool",
          link: "/permissions",
          name: "Permissions",
          permission: "view_permissions"
        },
        {
          icon: "people",
          link: "/Prisoners",
          name: "Prisoners",
          permission: "view_prisoners"
        },
        {
          icon: "people",
          link: "/prisonerMovements",
          name: "Prisoner Movements",
          permission: "view_prisoners_movement"
        },
        {
          icon: "whatshot",
          link: "/firearms",
          name: "Firearms",
          permission: "view_firearms"
        },
        {
          icon: "whatshot",
          link: "/demographics",
          name: "Demographic datas",
          permission: "view_demographics"
        },
        {
          icon: "whatshot",
          link: "/visitors",
          name: "Visitors",
          permission: "view_visitors"
        },
        {
          icon: "whatshot",
          link: "/forensics",
          name: "Forensic module",
          permission: "view_forensics"
        },
        {
          icon: "whatshot",
          link: "/attendance",
          name: "Attendance",
          permission: "fill_attendance"
        },
        { 
          icon: "security", 
          link: "/Biometric", 
          name: "Biometric",
          permission: "view_biometric"
        },
        { 
          icon: "money", 
          link: "/Payroll", 
          name: "Payroll",
          permission: "view_payroll"
        },
        {
          icon: "people",
          link: "/medicalAppointment",
          name: "Medical appointment",
          permission: "view_medical_appointment"
        },
        {
          icon: "people",
          link: "/healthcareProfessional",
          name: "HealthcareProfessional",
          permission: "view_healthcare_professional"
        }
      ],
      miniVariant: false,
      title: "PBIS"
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
    hasPermission(permission) {
      if (this.isAuthenticated) {
        return this.$store.state.userData.permissions.includes(permission);
      }
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    getName() {
      return (
        this.$store.state.userData.user.surname +
        " " +
        this.$store.state.userData.user.first_name +
        " " +
        this.$store.state.userData.user.middle_name
      );
    },
    notifications() {
      return this.$store.state.notifications;
    },
    user() {
      return this.$store.state.userData.user;
    }
  }
};
</script>
