<template>
    <v-alert
      :value="true"
      dismissible
      :type="notification.type"
    >
      {{ notification.value }}
    </v-alert>
</template>

<script>
export default {
    computed: {
        notification() {
            return this.$store.state.notification;
        }
    }
}
</script>
