<template>
  <v-card>
    <v-card-text>
      <v-form ref="form">
        <v-layout row wrap>
          <v-flex md6 pr-3>
            <v-select
              :items="prisoners"
              v-model="visitor.prisoner_id"
              item-text="name"
              item-value="id"
              :rules="[rules.required]"
              label="Prisoner"
            ></v-select>
          </v-flex>
          <v-flex md6>
            <v-text-field
              label="Visitor name"
              v-model="visitor.full_name"
              :rules="[rules.required]"
              type="text"
            ></v-text-field>
          </v-flex>
          <v-flex md6 pr-3>
            <v-text-field
              label="Relationship"
              v-model="visitor.relation"
              :rules="[rules.required]"
              type="text"
            ></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field label="Phone" v-model="visitor.phone" :rules="[rules.required]"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-btn @click="addVisitor" class="primary">Add</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
import Router from "./../../router";
export default {
  data() {
    return {
      visitor: {
        full_name: "",
        phone: "",
        prisoner_id: null,
        relation: ""
      },
      prisoners: [],
      rules: {
        required: value => !!value || "This field is required."
      }
    };
  },
  methods: {
    addVisitor() {
      if (this.$refs.form.validate()) {
        this.$store.commit("startLoading", "Adding new visitor");
        Axios.post("/api/visitor", this.visitor).then(res => {
          console.log(res.data);
          Router.push("/visitors");
        });
      }
    },
    getPrisoners() {
      this.$store.commit("startLoading", "Fetching dipartments");
      Axios.get("/api/prisoners").then(res => {
        this.prisoners = res.data.data;
        console.log(res.data.data);
        this.$store.commit("stopLoading");
      });
    }
  },
  mounted() {
    this.getPrisoners();
  }
};
</script>

<style>
</style>
