<template>
  <v-card>
    <v-card-title>
      <h3>Visitors</h3>
      <v-spacer></v-spacer>
      <v-btn to="visitors/add" small fab flat class="primary">
        <v-icon>add</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-data-table :headers="headers" class="elevation-1" :items="visitors">
        <template slot="items" slot-scope="props">
          <td>{{props.item.full_name}}</td>
          <td>{{props.item.prisoner.name}}</td>
          <td>{{props.item.phone}}</td>
          <td>{{props.item.relation}}</td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from 'axios'
export default {
  data() {
    return {
      visitors: [],
      headers: [
        { text: "Full name", value: "full_name" },
        { text: "Prisoner", value: "prisoner" },
        { text: "Phone", value: "phone" },
        { text: "Relationship", value: "relation" }
      ]
    };
  },
  methods: {
      getVisitors() {
      this.$store.commit("startLoading", "Fetching visitors");
      Axios.get("/api/visitors").then(res => {
        this.visitors = res.data;
        console.log(res.data);
        this.$store.commit("stopLoading");
      });
      }
  },
  mounted() {
      this.getVisitors();
  }
};
</script>

<style>
</style>
