<template>
  <v-card>
    <v-card-text>
      <v-form @submit="addBiometrics" enctype="multipart/form-data">
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field type="text" v-model="name" label="Full name"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field type="text" v-model="fingerprint" label="fingerprint"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <img height="75px" :src="img">
            <input type="file" @change="onImageChange" name="photo" id="photo" label="Image">
          </v-flex>
          <v-btn type="submit" class="primary">Add</v-btn>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  props: ["prisoner_id"],
  data() {
    return {
     
      name: "",
      fingerprint:"",
      photo: {},
      img: null
    };
  },
  methods: {
    addBiometrics(e) {
      this.$store.commit("startLoading", "Adding new biometrics data");
      e.preventDefault();
      let currentObj = this;

      const config = {
        headers: { "content-type": "multipart/form-data" }
      };

      let formData = new FormData();
      formData.append("name", this.name);
      formData.append("fingerprint", this.fingerprint);
      formData.append("prisoner_id", this.prisoner_id);
      formData.append("photo", this.photo);

      Axios.post("/api/biometric", formData, config).then(res => {
        console.log(res.data);
        this.getBiometrics()
        // this.$store.commit("stopLoading");
      });
    },
    getBiometrics() {
        this.$emit('done')
    },
    onImageChange(e) {
      console.log(e.target.files[0]);
      this.photo = e.target.files[0];

      const p = new Image(), reader = new FileReader()

      reader.onload = (e) => this.img = e.target.result

      reader.readAsDataURL(e.target.files[0])
    }
  }
};
</script>
