<template>
  <v-container>
    <v-card>
      <v-card-title>
        <span>Biometrics</span>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = true" small fab flat>
          <v-icon>add_circle</v-icon>
        </v-btn>
        <v-dialog v-if="dialog" v-model="dialog" max-width="390">
          <AddBiometrics @done="getBiometrics()" :prisoner_id="1"></AddBiometrics>
        </v-dialog>
      </v-card-title>
      <v-card-text>
        <v-layout row wrap>
          <v-flex>
            <v-data-table :headers="headers" :items="biometrics" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td><img height="75px" :src="'/images/biometric/' + props.item.photo"></td>
                <td>{{ props.item.fingerprint }}</td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
import AddBiometrics from "./AddBiometrics"

export default {
  props: [""],
  components: {AddBiometrics},
  data() {
    return {
      biometrics: [],
      dialog: false,
      prisoner_id: 1,
      headers: [
        { text: "Full Name", value: "name" },
        { text: "Image", value: "photo" },
        { text: "fingerprint", value: "fingerprint" }

      ]
    };
  },
  methods: {
    getBiometrics() {
      this.$store.commit("startLoading", "Fetching Biometrics");
      Axios.get("/api/biometric/prisoner/" + this.prisoner_id).then(
        res => {
          console.log(res.data);
          this.biometrics = res.data;
          this.dialog = false
          this.$store.commit("stopLoading");
        }
      );
    }
  },
  mounted() {
    this.getBiometrics();
  }
};
</script>
