<template>
  <v-container>
    <v-card>
      <v-card-title>
        <h3>Attendance</h3>
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-layout row wrap>
            <v-flex xs6>
              <v-select
                @change="getUsers"
                :items="departments"
                v-model="departmentId"
                item-text="name"
                item-value="id"
                label="department"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-form>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex md4 v-for="(user, i) in users" :key="i">
            <v-list>
              <v-list-tile ripple>
                {{ user.first_name + ' ' + user.middle_name + ' ' + user.last_name }}
                <v-spacer></v-spacer>
                <v-checkbox v-model="users[i].attendance"></v-checkbox>
              </v-list-tile>
            </v-list>
          </v-flex>
          <v-flex xs12>
            <v-btn @click="saveAttendance" flat class="primary">Submit</v-btn>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
export default {
  data() {
    return {
      departments: [],
      departmentId: null,
      users: [],
      attendance: []
    };
  },
  methods: {
    getAttendance() {
      Axios.get("/api/departments").then(res => {
        this.departments = res.data;
        console.log(res.data);
      });
    },
    getUsers() {
      Axios.get("/api/users/department/" + this.departmentId).then(res => {
        this.users = res.data;
        console.log(res.data);
      });
    },
    saveAttendance() {
      for (let i = 0; i < this.users.length; i++) {
        Axios.post("/api/attendance", {'user_id': this.users[i].id, 'status': (this.users[i].attendance)? 1 : 0})
        .then(
          res => {
            console.log(res.data)
          }
        );
      }
    }
  },
  mounted() {
    this.getAttendance();
  }
};
</script>
