<template>
  <v-container>
    <v-card>
      <v-card-title>
        <span class="subheading font-weight-medium">New Firearm</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form>
          <v-layout row wrap>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.owner_full_name"
                label="Full name"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.owner_address"
                label="Address"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field :rules="[rules.required]" v-model="firearm.code" label="Code"></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-select v-model="firearm.type_id" :items="types" item-value="id" item-text="name" label="Type"></v-select>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.biometric_capture_id"
                label="Biometric capture"
              ></v-text-field>
            </v-flex>
            <v-flex class="md12">
              <v-spacer></v-spacer>
              <v-btn class="primary" @click="addFirearm()">Add</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
import Router from "../../router";
export default {
  data() {
    return {
      types: [],
      firearm: {
        owner_full_name: "",
        owner_address: "",
        code: null,
        type_id: null,
        biometric_capture_id: null,
        registered_by: null
      },
      rules: {
        required: value => !!value || "This field is required."
      }
    };
  },
  methods: {
    addFirearm() {
      this.$store.commit("startLoading", "Registering new firearm");
      this.firearm.registered_by = this.$store.state.userData.user.id;
      Axios.post("/api/firearm", this.firearm).then(res => {
        console.log(res.data);
        Router.push("/firearms");
      });
    },
    getFirearmTypes() {
      this.$store.commit("startLoading", "Fetching firearm types");
      Axios.get("/api/firearm-types").then(res => {
        this.types = res.data
        this.$store.commit("stopLoading");
      });
    }
  },
  mounted() {
    this.getFirearmTypes()
  }
};
</script>
