<template>
  <v-container>
    <v-card>
      <v-card-title>
        <span class="subheading font-weight-medium">Edit Firearm</span>
        <v-spacer></v-spacer>
        <v-btn @click="approve()" v-if="!firearm.verified" small class="primary">Approve</v-btn>
        <v-btn @click="disapprove()" v-if="firearm.verified" small class="error">Disapprove</v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form v-if="!isLoading">
          <v-layout row wrap>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.owner_full_name"
                label="Full name"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.owner_address"
                label="Address"
              ></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field :rules="[rules.required]" v-model="firearm.code" label="Code"></v-text-field>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-select
                v-model="firearm.type_id"
                :items="types"
                item-value="id"
                item-text="name"
                label="Type"
              ></v-select>
            </v-flex>
            <v-flex class="md3 pr-3">
              <v-text-field
                :rules="[rules.required]"
                v-model="firearm.biometric_capture_id"
                label="Biometric capture"
              ></v-text-field>
            </v-flex>
            <v-flex class="md12">
              <v-spacer></v-spacer>
              <v-btn class="primary" @click="updateFirearm()">Update</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
import Router from "../../router";
import router from "../../router";
export default {
  props: ["id"],
  data() {
    return {
      types: [],
      firearm: {
        owner_full_name: "",
        owner_address: "",
        code: null,
        verified: 0,
        type_id: 1,
        biometric_capture_id: null,
        registered_by: null
      },
      rules: {
        required: value => !!value || "This field is required."
      }
    };
  },
  methods: {
    updateFirearm() {
      this.$store.commit("startLoading", "Registering new firearm");
      this.firearm.registered_by = this.$store.state.userData.user.id;
      Axios.patch("/api/firearm/" + this.id, this.firearm).then(res => {
        Router.push("/firearms");
      });
    },
    getFirearm() {
      this.$store.commit("startLoading", "Fetching firearm data");
      Axios.get("/api/firearm/" + this.id).then(res => {
        this.firearm = res.data;
        console.log(res.data)
        this.$store.commit("stopLoading");
      });
    },
    getFirearmTypes() {
      this.$store.commit("startLoading", "Fetching firearm types");
      Axios.get("/api/firearm-types").then(res => {
        this.types = res.data;
        this.getFirearm();
      });
    },
    approve() {
      this.$store.commit("startLoading", "Approving firearm");
      Axios.get("/api/firearm/verify/" + this.id).then(res => {
        if (res.data) {
          this.firearm.verified = 1;
          this.$store.commit("stopLoading");
        }
      });
    },
    disapprove() {
      this.$store.commit("startLoading", "Removing firearm");
      Axios.get("/api/firearm/unverify/" + this.id).then(res => {
        if (res.data) {
          this.firearm.verified = 0;
          this.$store.commit("stopLoading");
        }
      });
    }
  },
  mounted() {
    if (!this.id) {
      Router.push("/firearms");
    }
    this.getFirearmTypes();
  },
  computed: {
    isLoading() {
      return this.$store.state.loading;
    }
  }
};
</script>
