<template>
  <v-card>
    <v-card-title></v-card-title>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field
            v-model="name"
            :error-messages="error_messages"
            hide-actions="false"
            id="name"
            label="Name"
          ></v-text-field>
        </v-flex>
        <v-btn v-if="action == 'add'" @click="addFirearmType()" class="primary">add</v-btn>
        <v-btn v-if="action == 'edit'" @click="updateFirearmType()" class="primary">Update</v-btn>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-data-table
        :headers="headers"
        :items="firearmTypes"
        class="elevation-1"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td>
            <v-btn class="warning" @click="edit(props.item)" small fab>
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
              class="error"
              @click="deleteFirearmType(props.item.id)"
              small
              fab
              v-if="props.item.firearms.length == 0"
            >
              <v-icon>delete_forever</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  name: "firearm-list",
  data() {
    return {
      name: "",
      search: "",
      selectedId: null,
      action: "add",
      error_messages: "",
      firearmTypes: [],
      headers: [
        { text: "Name", value: "name" },
        { text: "", value: "", sortable: false }
      ]
    };
  },
  methods: {
    getFirearmTypes() {
      this.$store.commit("startLoading", "Fetching firearm types");
      Axios.get("/api/firearm-types").then(res => {
        this.firearmTypes = res.data;
        this.error_messages = "";
        this.endEdit();
        this.$store.commit("stopLoading");
      });
    },
    addFirearmType() {
      this.$store.commit("startLoading", "Adding new firearm type");
      if (this.name !== "") {
        Axios.post("/api/firearm-type", { name: this.name })
          .then(res => {
            this.getFirearmTypes();
          })
          .catch(error => {
            console.log(error);
            this.error_messages = "this firearm type already exist!";
            this.$store.commit("stopLoading");
          });
      }
    },
    updateFirearmType() {
      if (this.name !== "") {
        this.$store.commit("startLoading", "Update firearm type");
        Axios.patch("/api/firearm-type/" + this.selectedId, { name: this.name })
          .then(res => {
            this.getFirearmTypes();
          })
          .catch(error => {
            console.log(error);
            this.error_messages = "this firearm type already exist!";
            this.$store.commit("stopLoading");
          });
      }
    },
    deleteFirearmType(id) {
      this.$store.commit("startLoading", "Removing firearm type");
      Axios.delete("/api/firearm-type/" + id)
        .then(res => {
          this.getFirearmTypes();
        })
        .catch(error => {
          this.$store.commit("stopLoading");
        });
    },
    edit(item) {
      this.name = item.name;
      this.selectedId = item.id;
      this.action = "edit";
    },
    endEdit() {
      this.name = "";
      this.selectedId = null;
      this.action = "add";
    }
  },
  mounted() {
    this.getFirearmTypes();
  }
};
</script>
