<template>
  <v-container>
    <v-card>
      <v-card-title>
        <span class="subheading font-weight-medium">Firearms</span>
        <v-spacer></v-spacer>
        <v-btn small @click="dialog = true" class="primary">Firearm types</v-btn>
        <v-dialog v-if="dialog" v-model="dialog" max-width="390">
          <firearm-types></firearm-types>
        </v-dialog>
        <router-link to="/firearms/add">
          <v-icon color="primary">add_circle</v-icon>
        </router-link>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout row wrap>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-layout row wrap class="pb-3">
              <v-flex md4>
                <v-text-field
                  v-model="search"
                  append-icon="fa-search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-data-table
              hide-actions
              :headers="headers"
              :items="firearms"
              class="elevation-1"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.owner_full_name }}</td>
                <td>{{ props.item.owner_address }}</td>
                <td>{{ props.item.code }}</td>
                <td>{{ props.item.type.name }}</td>
                <td>{{ props.item.registrar.first_name + ' ' + props.item.registrar.middle_name }}</td>
                <td>{{ (props.item.verified)? 'Verified' : 'Not verified' }}</td>
                <td>
                  <router-link :to="'/firearms/edit/' + props.item.id" class="mr-1">
                    <v-icon class="primary--text" v-html="'visibility'"></v-icon>
                  </router-link>
                </td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Axios from "axios";
import FirearmTypes from './FirearmTypes'
export default {
  components: {FirearmTypes},
  data() {
    return {
      firearms: [],
      dialog: false,
      search: "",
      headers: [
        { text: "Full name", value: "owner_full_name" },
        { text: "Address", value: "owner_address" },
        { text: "Code", value: "code" },
        { text: "Type", value: "type" },
        { text: "Registered by", value: "registrar" },
        { text: "Verified", value: "verified" },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  methods: {
    getFirearms() {
      this.$store.commit("startLoading", "Fetching firearms");
      Axios.get("/api/firearms").then(res => {
        this.firearms = res.data;
        this.$store.commit("stopLoading");
      });
    }
  },
  mounted() {
    this.getFirearms();
  }
};
</script>
